@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

input, textarea {
    @apply w-full  my-1 px-3 rounded-2xl p-2 mb-4 mt-4
}

textarea {
    height: 140px;
}

button {
    @apply bg-blue-300 
}

button.primary {
    @apply bg-blue-300 rounded-2xl p-2 w-full text-white
}
